input {
	border: 1px solid rgb(199, 199, 199);
	margin-top: 15px;
}
html[class="dark"] label {
	color: white;
}
html[class="dark"] input {
	background-color: #22293D;
	border: none;
	color: #ABAAAA;
	margin-top: 15px;
}
html[class="dark"] input:focus {
	background-color: #22293D;
	color: #ABAAAA;
}