{% extends 'base.html' %}
{% block title %}{{article.title}}{% endblock %}
{% block date %}{{article.publication_date}}{% endblock %}
{% block title_article %}{{article.title}}{% endblock %}
{% block image_url %}{{article.main_image.url}}{% endblock %}
{% block content %}
<p class="content_summary font-['Source Sans Pro ExtraLight']">
	En JavaScript, puedes dividir el código de tus aplicaciones en varios archivos. Para ello tendrás que exportar las funciones definidas en archivos externos para así poder importarlas en otros archivos. Ya hemos visto cómo exportar una función, aunque en este caso veremos cómo exportar varias funciones, cuyo proceso es muy similar.
	<br>A modo de ejemplo vamos a crear las siguientes funciones en un mismo archivo:
</p>
{% endblock %}