{% load static %}
<!DOCTYPE html>
<html lang="es" id="html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'icons/icon-afterflow.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6a9d03678c.js" crossorigin="anonymous"></script>
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="flex items-center justify-center w-[100%] h-[100vh] dark:bg-[#060f15]">
    {% block content %}
    
    {% endblock %}
    <script src="{% static 'js/socialAllauth.js' %}"></script>
</body>
</html>