{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

<!-- {% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %} -->
{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
    <div class="w-[44rem] p-8 sm:px-5 bg-white dark:bg-[#02192B] rounded-sm dark:bg-gradient-to-br dark:from-[#131b20] dark:to-[#0d1a21]">
        <div class="flex items-center my-3">
            <a href="{% url 'core:home' %}" title="AfterFlow" class="flex items-center space-x-5">
                <img src="{% static 'images/logo-afterflow.png' %}" alt="Logo Afterflow" class="w-12">
                <span class="font-semibold text-xl font-['Open Sans'] text-[#3f3636] dark:text-[#e9e9e9]">AfterFlow</span>
            </a>
        </div>
		<span class="font-bold text-3xl xr:text-xl dark:text-white">{% trans "Confirm E-mail Address" %}</span>
        {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            <p class="my-4 xr:my-8 text-slate-800 font-['Roboto'] text-[15px] dark:text-[#bebebe]">{% blocktrans with confirmation.email_address.email as email %}Por favor, confirme que <a href="mailto:{{ email }}">{{email}}</a> es una dirección de correo electrónico para el usuario {{user_display}}.{% endblocktrans %}</p>
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="my-4"> {% csrf_token %}
                <button type="submit" class="w-[100%] sm:my-3 py-2 rounded-sm text-white font-medium bg-pink-800 hover:bg-pink-700 dark:bg-[#36abdd] dark:hover:bg-cyan-600 cursor-pointer transition-colors">{% trans 'Confirm' %}</button>
            </form>
        {% else %}
            {% url 'account_email' as email_url %}
            <p class="my-4 text-slate-800 font-['Roboto'] text-[15px] dark:text-[#bebebe]">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}