{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
    <div class="w-[44rem] bg-white p-8 sm:px-5 rounded-sm shadow-lg dark:bg-gradient-to-br dark:from-[#131b20] dark:to-[#0d1a21]">
        {% include 'components/account/logo.html' %}
        <p class="font-bold text-xl text-[#3f3e3e] my-3 dark:text-[#e9e9e9]">{% trans "Password Reset" %}</p>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="font-['Roboto'] text-[15px] text-slate-800 dark:text-[#bebebe] mb-5 sm:my-10 sm:text-base">Le hemos enviado un correo electrónico. Si no lo ha recibido, revise su carpeta de correo no deseado (spam). De otra manera
		<a href="#" class="dark:text-green-600 text-blue-500">contacta</a> con nosotros si no lo recibes en pocos minutos.</p>
        <a href="{% url 'core:home' %}" class="dark:text-green-600" title="Volver al inicio">Volver al inicio</a>
    </div>
{% endblock %}