{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
    <div class="bg-white dark:bg-[#02192B] p-10 rounded-sm w-[40rem] my-2 xr:p-6">
        <div class="flex items-center mb-3">
            <a href="{% url 'home' %}" class="flex justify-center items-center">
                <img src="{% static 'images/logo.png' %}" alt="logo" class="w-12">
                <h1 class="font-semibold text-[#747272] text-xl dark:text-[#E7E7E7]">hidrah</h1>
            </a>
        </div>
        <hr class="my-5">
        <h1 class="font-bold text-3xl dark:text-white mb-3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            <form method="POST" action="{{ action_url }}"> {% csrf_token %}
                {{ form | crispy }}
                <hr class="my-5">
                <input type="submit" name="action" value="{% trans 'Change password' %}" class="bg-pink-800 px-5 py-2 rounded-lg text-white font-medium hover:bg-pink-600 dark:bg-[#36abdd] dark:hover:bg-cyan-600 dark:text-white" />
            </form>
        {% endif %}
    </div>
<style>
    input {
        margin: 10px 0;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgb(199, 199, 199);
    }
        html[class="dark"] label {
            color: white;
        }
        html[class="dark"] input {
            background-color: #22293D;
            border: none;
            color: #ABAAAA;
        }
        html[class="dark"] input:focus {
            background-color: #22293D;
            color: #ABAAAA;
        }
        input:focus {
            outline: 2px solid rgb(138, 163, 247);
        }
</style>
{% endblock %}