{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}
{% load account %}
{% load crispy_forms_tags %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
    <div class="w-[44rem] m-auto p-8 sm:px-5 rounded-sm shadow-lg bg-white dark:bg-gradient-to-br dark:from-[#131b20] dark:to-[#0d1a21]">
        <div class="flex items-center my-3">
            <a href="{% url 'core:home' %}" class="flex items-center space-x-5">
                <img src="{% static 'images/logo-afterflow.png' %}" alt="logo" class="w-12">
                <span class="font-semibold text-xl font-['Open Sans'] text-[#3f3636] dark:text-[#e9e9e9]">AfterFlow</span>
            </a>
        </div>
        <p class="font-bold text-xl text-[#3f3e3e] dark:text-[#e9e9e9]">Restablecer mi contraseña</p>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="font-['Roboto'] text-[15px] text-slate-800 sm:my-8 dark:text-[#bebebe]">¿Ha olvidado su contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos un correo electrónico que le permitirá restablecerla.</p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset"> {% csrf_token %}
            {{ form | crispy}}
			<hr>
            <input type="submit" value="Restablecer mi contraseña" class="w-[100%] sm:my-3 py-2 rounded-sm text-white font-medium bg-pink-800 hover:bg-pink-700 dark:bg-[#36abdd] cursor-pointer transition-colors">
        </form>
        <p class="font-['Roboto'] my-2 text-center text-[15px] text-slate-800 dark:text-[#bebebe]">Póngase en <a href="#" class="dark:text-green-600">contacto</a> con nosotros si tiene algún problema para restablecer su contraseña.</p>
    </div>
{% endblock %}