{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icons/icon-afterflow.ico' %}" type="image/x-icon">
    {% block extra %}{% endblock %}
    <title>{% block title %}{% endblock %</title>
</head>
<body>
    {% include 'components/navbar/navbar.html' %}
    {% block content_body %}

    {% endblock %}
</body>
</html>