{% load static %}
<article class="mt-[6rem] blg:mt-0 bxl:mt-[4.6rem] h-[600px] blg:h-auto relative flex justify-center items-center space-x-8 shadow-md blg:shadow-none mx-10 bg-gradient-to-tr from-white via-white to-[#f6f5f6] dark:bg-gradient-to-tr dark:from-[#071118] dark:via-[#071118] dark:to-[#131b20] rounded-md bxl:mx-0 bxl:justify-around bxl:px-5 lg:mx-10 lg:mt-[6rem] blg:mx-0">
    <div class="img-content relative">
        <h2 class="text-lg font-semibold text-slate-800 dark:text-slate-300 my-5">ARTICULO DESTACADO</h2>
        <img src="{% static 'images/featured-dark-image.png' %}" id="featured-image" alt="imagen del articulo destacado" class="w-[350px] rounded-md lg:w-[400px] bxl:w-[400px]">
    </div>
    <div class="w-[700px] blg:w-auto bxl:w-[600px]">
        <h2 class="text-lg font-semibold blg:py-5 text-slate-800 dark:text-slate-300 my-5 invisible absolute blg:relative blg:visible">ARTICULO DESTACADO</h2>
        <h1 class="title text-5xl font-extrabold font-['Roboto'] mb-5 text-slate-800 hover:text-cyan-400 dark:text-slate-200 dark:hover:text-cyan-500 transition-colors bxl:text-4xl lg:text-3xl"><a href="#">{{featured.title}}</a></h1>
        <div class="flex space-x-5">
            <span class="italic text-[rgb(172,172,172)]">Publicado el {{featured.publication_date}}</span>
            <span>
                <a href="#" class="py-1 p-2 ml-2 rounded-sm text-xs font-normal bg-slate-200 text-slate-600 hover:bg-[#e1e0e0]">{{featured.category}}</a>
            </span>
        </div>
        <p class="text-lg py-10 text-slate-800 dark:text-slate-300 whitespace-pre-wrap lg:text-base">{{featured.summary}}</p>
    </div>
</article>

<style>
    @media screen and (max-width: 910px) {
        .img-content {
            display: none;
        }
    }
</style>