{% load static %}
<footer class="flex items-start flex-wrap justify-around overflow-hidden p-5 border-t-[1px] border-t-slate-500 dark:bg-gradient-to-t dark:from-slate-900 dark:to-[#1a1919] relative bottom-0">
    <div class="p-2 md:my-5">
        <a href="{% url 'core:home' %}" class="flex items-center space-x-2">
            <img src="{% static 'images/logo-afterflow.png' %}" alt="Logo de Afterflow" class="w-16">
            <span class="text-xl font-semibold font-['Roboto'] text-[#3c3c3c] dark:text-[#e5e5e5] lg:text-2xl xr:invisible xr:absolute">AFTERFLOW</span>
        </a>
        <div class="flex space-x-3 items-center bsm:space-x-2 justify-center my-5">
            <a href=""><i class="fa-brands fa-github-alt text-4xl text-[#3c3c3c] dark:text-white bsm:text-xl bsm:mr-3"></i></a>
            <a href="#"><i class="fa-brands fa-twitter text-4xl text-[#3c3c3c] dark:text-white bsm:text-xl bsm:mr-3"></i></a>
            <a href="#"><i class="fa-brands fa-instagram text-4xl text-[#3c3c3c] dark:text-white bsm:text-xl bsm:mr-3"></i></a>
            <a href=""><i class="fa-brands fa-linkedin text-4xl text-[#3c3c3c] dark:text-white bsm:text-2xl"></i></a>
        </div>
    </div>
    <div class="grid grid-cols-4 gap-4 space-x-10 bsm:space-x-6 md:my-5">
        <ul>
            <h3 class="text-lg bsm:text-base text-[#3c3c3c] dark:text-white font-medium">Frameworks</h3>
            {% for framework in frameworks %}
                <li class="my-2 md:my-4"><a href="#" class="bsm:text-sm dark:text-[#e0e0e0] hover:text-cyan-500 dark:hover:text-cyan-400">{{framework.name}}</a></li>
            {% endfor %}
        </ul>
        <ul>
            <h3 class="text-lg bsm:text-base text-[#3c3c3c] dark:text-white font-medium">Databases</h3>
            {% for database in databases %}
                <li class="my-2 md:my-4"><a href="#" class="bsm:text-sm dark:text-[#e0e0e0] hover:text-cyan-500 dark:hover:text-cyan-400">{{database.name}}</a></li>
            {% endfor %}
        </ul>
        <ul>
            <h3 class="text-lg bsm:text-base text-[#3c3c3c] dark:text-white font-medium">Languages</h3>
            {% for language in languages %}
                <li class="my-2 md:my-4"><a href="#" class="bsm:text-sm dark:text-[#e0e0e0] hover:text-cyan-500 dark:hover:text-cyan-400">{{language.name}}</a></li>
            {% endfor %}
        </ul>
        <ul>
            <h3 class="text-lg bsm:text-base text-[#3c3c3c] dark:text-white font-medium">Tutorials</h3>
            {% for tutorial in tutorials %}
                <li class="my-2 md:my-4"><a href="#" class="bsm:text-sm dark:text-[#e0e0e0] hover:text-cyan-500 dark:hover:text-cyan-400">{{tutorial.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</footer>