* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i {
    margin: 0 5px;
}
input {
    border: 1px solid #eeeeee;
}
input[type="text"] {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    outline: none;
}
input[type="password"] {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    outline: none;
}
.social li {   
    padding: 15px 20px;
    background-color: #f5f4f4;
    border-radius: 5px;
}
html[class="dark"] li{
    background-color: #22293D;
}
html[class="dark"] li a {
    color: #b1b1b1;
}
.social li:hover {
    background-color: #eaf0f3;
    cursor: pointer;
}
.social li a {
    color: #807f7f;
    font-weight: 500;
}
.social li a img {
    margin-right: 8px;
}
label {
    color: #a0a0a0;
}
input {
    margin: 15px 0;
    box-shadow: none;
}
html[class="dark"] li:hover {
    background-color: #303649;
}
html[class="dark"] input {
    background-color: #22293D;
    border: none;
    color: #ABAAAA;
}
html[class="dark"] input:focus {
    background-color: #22293D;
    color: #ABAAAA;
}
@media screen and (max-width: 580px) {
    input {
        margin-top: 25px;        
    }
}
#id_email {
    display: block;
    width: 100%;
    padding: 8px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
}
html[class="dark"] #id_email {
    border: none;
}