.side-panel {
    position: fixed;
    z-index: 50;
    right: -100%;
    transition: .2s linear;
}
.panel-lateral {
    right: 0;
}
.title {
    line-height: 4rem;
}
.content_summary {
    color: #534f4c;
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem;
    text-align: justify;
    margin-top: 2.5rem;
}
html[class="dark"] .content_summary {
    color: rgb(189,188,188);
}
code {
    background-color: rgb(248 250 252 / 0.7);
    border-radius: 0.375rem;
    position: relative;
    width: 100%;
    padding: 1.25rem;
    color: rgb(71 85 105);
    margin-top: 1rem;
    display: block;
    white-space: pre;
}
@media screen and (max-width: 639px) {
    code {
        padding: 1rem;
        font-size: 10px;
    }
}