<aside id="side-panel" class="side-panel bg-white top-[4.6rem] w-[17rem] h-[100%] p-5 shadow-xl blgMin:invisible dark:bg-gradient-to-tr dark:from-[#151c22] dark:to-[#071118] border-t-[2px] border-t-[#715FD4] md:w-[20rem] overflow-y-auto">
    {% include 'components/side-panel/search-form.html' %}
    {% include 'components/side-panel/options-panel.html' %}
    
    <div class="w-[100%] h-[1px] bg-slate-400"></div>
    <ul class="flex items-center space-x-5 justify-center my-5">
        <li><a href="{% url 'account_login' %}" class="px-4 py-2 rounded-lg dark:text-white transition-colors">Login</a></li>
        <li><a href="{% url 'account_signup' %}" class="px-4 py-2 rounded-lg dark:bg-[#1f1f28] dark:hover:bg-[#262630] dark:text-white bg-slate-200 hover:bg-slate-300 transition-colors">Sing up</a></li>
    </ul>
</aside>