{% load static %}
<div class="absolute rounded-md shadow-md top-12 left-[-6rem] px-3 py-3 bg-white dark:bg-[#1e1c24] dark:text-[#e5e5e5] border-t-[2px] border-t-[#715FD4]" id="menu-session" style="display: none;">
    <b>Cuentas</b>
    <span class="flex items-center space-x-4 w-72">
        <img src="{% static 'images/logo-afterflow.png' %}" alt="Logo de afterflow" class="w-6">
        <p>Cuenta Afterflow <i class="fa-solid fa-check"></i></p>
        <a href="{% url 'account_logout' %}" class="text-blue-400">Cerrar sesión</a>
    </span>
</div>