{% load static %}
<div class="absolute w-72 rounded-md shadow-md top-[4.7rem] right-2 p-5 bg-white dark:bg-[#1e1c24] dark:text-[#e5e5e5] border-t-[2px] border-t-[#715FD4]" id="menu-session" style="display: none;">
    <b class="font-['Fira Code NF']">Cuentas</b>
    <div class="flex space-x-2 my-2">
        <img src="{% static 'images/logo-afterflow.png' %}" alt="Logo de afterflow" class="w-6">
        <span class="text-slate-700 dark:text-white">Cuenta Afterflow {% if user.is_authenticated %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark text-red-500"></i>{% endif %}</span>
    </div>
    {% if user.is_authenticated %}
    <ul class="flex justify-center">
        <li><a href="{% url 'account_logout' %}" class="text-blue-400 hover:text-blud-500" title="Cerrar sesión">Cerrar sesión</a></li>
    </ul>
    {% else %}
        <ul class="flex justify-center space-x-5 text-blue-400">
            <li><a href="{% url 'account_login' %}" class="hover:text-blue-500" title="Iniciar sesión">Iniciar sesión</a></li>
            <li><a href="{% url 'account_signup' %}" class="hover:text-blue-500" title="Registrarse">Registrarse</a></li>
        </ul>
    {% endif %}
</div>