<ul class="flex items-center space-x-5 font-['Calibri'] text-slate-600 dark:text-[#d2d2d2] blg:invisible blg:absolute">
    <li class="group relative flex items-center space-x-1 cursor-pointer"><a class="text-[#736c6c] dark:text-[#d2d2d2]">Frameworks</a><i class="fa-solid fa-angle-down"></i>
        <ul class="absolute invisible overflow-hidden font-['Calibri'] w-64 top-[1.4rem] left-[-4px] rounded-md group-hover:visible shadow-md bg-white dark:bg-gradient-to-tr dark:from-slate-900 dark:to-[#1a1919] border-t-[2px] border-t-[#715FD4]">
            {% for framework in frameworks %}
                <li class="py-4 px-5 font-['Roboto'] text-sm font-medium hover:bg-[#ecebeb84] dark:hover:bg-[#9f9e9e76]"><a href="#" class="text-[#6c6b6b] dark:text-[#d2d2d2]">{{framework.name}}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="group relative flex items-center space-x-1 cursor-pointer"><a class="text-[#736c6c] dark:text-[#d2d2d2]">Databases</a><i class="fa-solid fa-angle-down"></i>
        <ul class="absolute invisible overflow-hidden font-['Calibri'] w-64 top-[1.4rem] left-[-4px] rounded-md group-hover:visible shadow-md bg-white dark:bg-gradient-to-tr dark:from-slate-900 dark:to-[#1a1919] border-t-[2px] border-t-[#715FD4]">
            {% for database in databases %}
                <li class="py-4 px-5 font-['Roboto'] text-sm font-medium hover:bg-[#ecebeb84] dark:hover:bg-[#9f9e9e76]"><a href="#" class="text-[#6c6b6b] dark:text-[#d2d2d2]">{{database.name}}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="group relative flex items-center space-x-1 cursor-pointer"><a class="text-[#736c6c] dark:text-[#d2d2d2]">Languages</a><i class="fa-solid fa-angle-down"></i>
        <ul class="absolute invisible overflow-hidden font-['Calibri'] w-64 top-[1.4rem] left-[-4px] rounded-md group-hover:visible shadow-md bg-white dark:bg-gradient-to-tr dark:from-slate-900 dark:to-[#1a1919] border-t-[2px] border-t-[#715FD4]">
            {% for language in languages %}
                <li class="py-4 px-5 font-['Roboto'] text-sm font-medium hover:bg-[#ecebeb84] dark:hover:bg-[#9f9e9e76]"><a href="#" class="text-[#6c6b6b] dark:text-[#d2d2d2]">{{language.name}}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="group relative flex items-center space-x-1 cursor-pointer"><a class="text-[#736c6c] dark:text-[#d2d2d2]">Tutorials</a><i class="fa-solid fa-angle-down"></i>
        <ul class="absolute invisible overflow-hidden font-['Calibri'] w-64 top-[1.4rem] left-[-4px] rounded-md group-hover:visible shadow-md bg-white dark:bg-gradient-to-tr dark:from-slate-900 dark:to-[#1a1919] border-t-[2px] border-t-[#715FD4]">
            {% for tutorial in tutorials %}
                <li class="py-4 px-5 font-['Roboto'] text-sm font-medium hover:bg-[#ecebeb84] dark:hover:bg-[#9f9e9e76]"><a href="#" class="text-[#6c6b6b] dark:text-[#d2d2d2]">{{tutorial.name}}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>