<div class="flex items-center justify-between w-[100%] h-[4.6rem] bg-white dark:bg-gradient-to-tr dark:from-[#151f24] dark:to-[#1a1919] shadow-md fixed top-0 z-30">
    <div class="flex items-center space-x-10 bxl:space-x-5 lGG:space-x-3 px-4">
        {% include 'components/navbar/logo.html' %}
        {% include 'components/navbar/menu-options.html' %}
    </div>
    <div class="flex items-center space-x-6 bxl:space-x-3 px-4 ">
        {% include 'components/navbar/search-form.html' %}
        {% include 'components/navbar/menu-themes.html' %}
        <div class="h-[2rem] w-[2px] bg-slate-700 blg:invisible"></div>
        {% if user.is_authenticated %}
            <button onclick="showMenuSession()" class="blg:invisible blg:absolute" title="Show menu session"><i class="fa-solid fa-circle-user text-[2.7rem] text-[#e9e9e9] hover:text-[#dad9d9] dark:text-[#d2d2d2] dark:hover:text-[#f3f2f2] transition-colors blg:text-[2.5rem]"></i></button>
            {% include 'components/navbar/menu-session.html' %}
        {% else %}
            <ul class="flex items-center space-x-2 font-['Calibri']">
                <li class="blg:invisible blg:absolute"><a href="{% url 'account_login' %}" class="px-4 py-2 rounded-lg bg-[#f3f1f1d4] hover:bg-[#e0e0e0d4] bxl:text-sm transition-colors">Login</a></li>
                <li class="blg:invisible blg:absolute"><a href="{% url 'account_signup' %}" class="px-4 py-2 rounded-lg bg-[#715FD4] text-white hover:bg-[#5e4fb4] bxl:text-sm transition-colors">Sing up</a></li>
            </ul>
        {% endif %}
        <ul class="absolute invisible blg:relative blg:visible">
            <li><button onclick="showSidePanel()" class="outline-none" title="Show side panel"><i class="fa-solid fa-bars text-[2.5rem] text-[#3a3a3a] dark:text-[#d2d2d2] dark:hover:text-[#f3f2f2] transition-colors bsm:text-[2.3rem]"></i></button></li>
        </ul>
    </div>
</div>