<div class="flex items-center justify-between w-[100%] h-[4.6rem] bg-white dark:bg-gradient-to-tr dark:from-[#151f24] dark:to-[#1a1919] shadow-md fixed top-0 z-30 px-10 xr:px-6">
    <div class="flex items-center space-x-10 bxl:space-x-5 lGG:space-x-3">
        {% include 'components/navbar/logo.html' %}
    </div>
    {% include 'components/navbar/menu-options.html' %}
    <div class="flex items-center space-x-6 bxl:space-x-5">
        <div class="flex space-x-7 items-center">
            {% include 'components/navbar/menu-themes.html' %}
            <button onclick="showMenuSession()" class="blg:invisible blg:absolute" title="Show menu session"><i class="fa-solid fa-circle-user text-[2.3rem] text-[#e9e9e9] hover:text-[#dad9d9] dark:text-[#d2d2d2] dark:hover:text-[#f3f2f2] transition-colors blg:text-[2.5rem]"></i></button>
        </div>
        {% include 'components/navbar/menu-session.html' %}
        <ul class="absolute invisible blg:relative blg:visible">
            <li><button onclick="showSidePanel()" class="outline-none" title="Show side panel"><i class="fa-solid fa-bars text-[2.5rem] text-[#3a3a3a] dark:text-[#d2d2d2] dark:hover:text-[#f3f2f2] transition-colors bsm:text-[2.3rem]"></i></button></li>
        </ul>
    </div>
</div>