<div class="relative lg:invisible lg:absolute">
    <form action="" method="get" class="relative">
        <input type="text" class="h-10 w-auto rounded-md p-5 bxl:w-40 bxl:p-3 bxl:placeholder:text-sm dark:outline-none outline-none bg-[#f3f2f2b7] dark:bg-[#262626] dark:text-white" placeholder="Buscar contenido..." id="searchInputNavbar" onkeyup="search(this.value)" onblur="removeCoincidences()">
        <div class="w-[400px] md:w-[250px] max-h-48 fixed right-[180px] top-[4.6rem] shadow-md py-4 px-6 overflow-y-auto bg-white dark:bg-gradient-to-tr dark:from-[#151f24] dark:to-[#1a1919]" id="items-found" style="display: none;"></div>
        <!-- ul -->
    </form>
</div>