<div class="relative blg:invisible blg:absolute">
    <form action="" method="get" class="relative overflow-x-hidden">
        <input type="text" class="h-10 w-auto rounded-md p-5 dark:outline-none outline-none bg-[#f3f2f2b7] dark:bg-[#262626] dark:text-white" placeholder="Buscar contenido..." id="search-input">
    </form>
    <button id="button-clear" class="absolute top-2 right-2" style="display: none;"><i class="fa-solid fa-xmark text-2xl text-[#262020] dark:text-[#faf9f9c1]"></i></button>
</div>